.landingCont {
  margin-top: 30px;
  padding: 21px;
}

.productsCont {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 21px;
  font-size: 18px;
}
