.header {
  font-size: 21px;
  margin: 28px;
  border: black;

  border-radius: 11px;
  background: #e3e6e6;
}
.headerCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}
.headerBtn {
  display: flex;
  gap: 18px;
  justify-content: flex-start;
}
.btn {
  border: none;
  padding: 8px;
  border-radius: 8px;
  transition: all 0.3s;
  color: #000;
  font-size: 24px;
}
.btn:hover {
  cursor: pointer;
  background: #fff;
  color: black;
}
.btn:active {
  color: red;
}

.user {
  color: #fff;
}

img {
  height: 50px;
}

/* ******MEDIA QUERIES****** */
