.FooterCont {
  display: flex;
  justify-content: space-evenly;
  margin: 31px 0 21px 0;
}
.FooterAdd,
.FooterDet {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
h6 {
  font-size: 18px;
  text-decoration: underline red;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: underline green;
}
.copy {
  display: flex;
  justify-content: space-between;
  padding: 21px;
}
