/* body {
  background: #e3e6e6;
  color: #fff;
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
}

.boddy {
  background: #e3e6e6;
  color: #fff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content {
  flex: 1;
}
